# MySQL Database configuration
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=burbone_db
DB_PORT=3306

# You can also use PlanetScale / Aiven strings directly if you change connection method
# DATABASE_URL="mysql://user:pass@host:3306/burbone_db"
